.burger__btn {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #fff;
  transition-duration: 1s;
  display: none;
  &::before {
    content: "";
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    position: relative;
    bottom: 8px;
  }
  &::after {
    content: "";
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    position: relative;
    top: 6px;
  }
  @media (max-width: 700px) {
    display: block;
  }
}

.burger__btn--active {
  transform: rotate(-45deg);
  &::before {
    transform: rotate(87deg);
    bottom: 1px;
  }
  &::after {
    transform: rotate(87deg);
    top: -1px;
  }
}
.burger__list {
  width: 200px;
  position: absolute;
  top: -400px;
  right: 0;
  transition-duration: 1s;
  display: none;
  &--active {
    top: 40px;
  }
  @media (max-width: 700px) {
    display: block;
  }
}
.burger__item {
  @include mixins.textStyle(18px, 18px, 400, $textColorWhite);
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: $pageColor;
  transition-duration: 1s;
  &:hover {
    color: $accentColor;
    padding-left: 25px;
  }
}
