.continent-section {
  padding-top: 150px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
.continent-content__wrapper {
  @include mixins.flex(row, space-around, center, nowrap);
}
.continent-text {
  @include mixins.flex(column, flex-start, flex-start, nowrap);
  max-width: 335px;
}
.continent-slider {
  font-weight: 600;
  font-size: 72px;
  line-height: 104px;
  background: linear-gradient(
    180deg,
    rgba(214, 214, 214, 0.12) 0%,
    rgba(255, 255, 255, 0) 150.21%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: 0.6s;
  &:hover {
    transform: scale(1.1);
  }
}
.continent-name {
  @include mixins.textStyle(88px, 104px, 600, $textColorWhite);
  margin-bottom: 10px;
}
.continent-description {
  @include mixins.textStyle(14px, 24px, 600, $textColorWhite);
  margin-bottom: 30px;
}
.tours-review {
  @include mixins.flex(row, center, center, wrap);
  gap: 20px;
}
.tours__photo {
  @include mixins.flex(column, center, flex-start, nowrap);
  gap: 10px;
}
.tour--place {
  @include mixins.textStyle(16px, 19px, 400, $textColorWhite);
}
