.modal-back {
  @include mixins.flex(row, center, center, wrap);
  z-index: -99;
  opacity: 0;
  transition-duration: 1s;
  background-color: #0000007d;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  &--open{
    z-index: 999;
    opacity: 1;
  }
}

.fav-modal {
  background-color: $textColorWhite;
  width: 747px;
  border-radius: 12px;
  padding: 25px;
  position: relative;
}

.fav-modal__title {
  @include mixins.textStyle(40px, 26px, 400, $pageColor);
  text-align: center;
}

.fav-modal_content {
  max-height: 450px;
  overflow-y: scroll;
  margin-top: 30px;
  padding: 23px;
}
.close-btn {
  display: block;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-line {
  display: block;
  width: 28px;
  height: 2px;
  background-color: $textColorGrey;
  transform: rotate(45deg);
  &::before {
    content: "";
    display: block;
    width: 28px;
    background-color: $textColorGrey;
    height: 2px;
    transform: rotate(90deg);
  }
}
