.tour-intro {
  min-height: 100%;
  background: url("../../../public/images/TourSection/about-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  &-btn__wrapper {
    text-align: center;
    padding-bottom: 60px;
  }
}
.intro__wrapper {
  padding-top: 150px;
  background: linear-gradient(
    179.51deg,
    #1b2920 0.42%,
    rgba(38, 78, 54, 0) 37.98%,
    rgba(49, 62, 54, 0.38) 62.73%,
    rgba(27, 42, 32, 0.99) 93.89%
  );
}
.tour-slogan {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 104px;
  line-height: 112px;
  color: #fefefe;
  gap: 50px;
  margin-bottom: 80px;
  @include mixins.flex(column, center, center, nowrap);
}

.text-layer {
  position: relative;
  -webkit-text-stroke: 3px #fefefe;
  -webkit-text-fill-color: transparent;
}
.text--3d {
  position: absolute;
  top: 3px;
  right: 4.5px;
  -webkit-text-fill-color: #fefefe;
}
.text-position-0 {
  align-self: center;
}
.text-position-1 {
  align-self: flex-end;
}
.text-position-2 {
  text-align: center;
  margin-left: 20px;
}
//section 2
.description-section {
  background: #1e2c21;
}
.about-text-head {
  color: #f0e33f;
  font-weight: 400;
  font-size: 32px;
  line-height: 56px;
  margin-bottom: 20px;
}
.tour-description__wrapper {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}
.about-tour-text {
  @include mixins.textStyle(20px, 28px, 400, #fefefe);
}
.about-tour__img {
  height: 100%;
}

//section 3
.tour-location {
  background: #1e2c21;
  padding-top: 56px;
}
.about-page-title {
  text-transform: uppercase;
  @include mixins.textStyle(32px, 56px, 400, #f0e33f);
  text-align: center;
}
.locations__wrapper {
  margin-top: 56px;
  @include mixins.flex(row, center, center, nowrap);
  gap: 28px;
}
.location-btn {
  background-color: #fefefe;
  border-radius: 25px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    transform: scale(1.1);
  }
}
.locations-tour__name {
  @include mixins.textStyle(16px, 32px, 400, #fefefe);
  text-align: center;
}
.location-photo {
  transition: 0.5s;
}
.active-name {
  font-size: 32px;
  color: #fefefe;
  text-align: center;
}
.tour-content {
  cursor: pointer;
}
//section 4
.plan-section {
  padding-top: 80px;
  background: #1e2c21;
}

.trip-plan-list {
  margin-top: 50px;
  @include mixins.flex(row, center, center, nowrap);
  gap: 50px;
}
.trip-plan-item {
  text-align: center;
  transition: 0.6s;
  &:hover {
    transform: scale(1.2);
  }
}
.trip-img {
  margin-bottom: 50px;
}
.trip-day {
  @include mixins.textStyle(24px, 32px, 500, #fefefe);
}
.trip-day-description {
  @include mixins.textStyle(16px, 24px, 500, #fefefe);
}

//section 5

.tour-equipment {
  background: url("../../../public/images/TourSection/equipment/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  &__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(
      179.51deg,
      #1e2c21 0.42%,
      rgba(38, 78, 54, 0) 37.98%,
      rgba(49, 62, 54, 0.38) 62.73%,
      #1e2c21 93.89%
    );
  }
}
.equipment-list {
  @include mixins.flex(row, center, center, nowrap);
}
.equipment-img:hover {
  transform: scale(1.3);
  transition: 0.6s;
}
.equipment-item {
  @include mixins.textStyle(22px, 16px, 400, #fefefe);
  text-align: center;
  cursor: pointer;
}

//section 6
.reviews-section {
  padding-top: 30px;
  background: #1e2c21 93.89%;
}
.reviews--title {
  @include mixins.flex(row, center, center, nowrap);
  gap: 30px;
  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #fefefe;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #fefefe;
  }
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.5s;
}

.review-text {
  margin-top: 25px;
  @include mixins.textStyle(16px, 24px, 500, #fefefe);
  text-align: center;
}

.hidden-review {
  position: absolute;
  top: -9999px;
}
.review-img__wrapper {
  margin-top: 40px;
  padding-bottom: 40px;
}
.reviews-img {
  width: 140px;
  height: 140px;
  border: 7px solid #fefefe;
  border-radius: 100px;
  transition: 0.6s;
}
.reviews--active-img {
  width: 200px;
  height: 200px;
  border: 7px solid #f0e33f;
}

//section 7

.tour-book-section {
  background: #1e2c21 93.89%;
  padding-top: 88px;
  padding-bottom: 100px;
}
.book-tour-content__wrapper {
  @include mixins.flex(row, center, center, nowrap);
  gap: 72px;
  background: rgba(20, 33, 23, 0.55);
}
.book-tour-img {
  transform: scale(1.05);
  padding-left: 30px;
}
.book-tour-content__text {
  @include mixins.flex(column, center, center, nowrap);
  position: relative;
  gap: 30px;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    height: 300px;
    width: 1px;
    background-color: #fff78d;
  }
}
.book-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #f0e33f;
}
.book-paragraph {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #fefefe;
}
