// Colors
$textColorWhite: #FEFEFE;
$textColorDark: #1E1E1E;
$textColorGrey: #4B4B4B;;
$textColorLightGrey: #737373;;
$accentColor: #F0E33F;
$additionalColor:  #FFF78D;
$pageColor: #1E2C21;
$bookingBlue: #4686E4;
$colorFooter: #142117;
// Sizes
$introFontSize: 88px;
$sectionTitleSize: 32px;