.video-about {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  &__gradient {
    background-image: linear-gradient(
      178.58deg,
      #1b2920 4.74%,
      rgba(38, 78, 54, 0) 43.95%,
      rgba(49, 62, 54, 0.38) 64.91%,
      rgba(27, 41, 32, 0.99) 96.81%,
      #1b2920 102.33%
    );
    padding-top: 96px;
    padding-bottom: 181px;
  }
  &__text {
    @include mixins.textStyle(64px, 72px, 700, $textColorWhite);
  }
  &__show-video {
    @include mixins.textStyle(22px, 26px, 500, $textColorWhite);
    margin-top: 51px;
    display: flex;
    align-items: center;
    &::before {
      content: url("../../../public/images/icons/countries/video-play.svg");
      margin-right: 12px;
    }
  }
  &__container {
    @include mixins.flex(row, space-between, flex-start, wrap);
  }
  &__video {
    margin-top: 20px;
    border-radius: 16px;
  }
}
.text {
  &__first {
    color: $accentColor;
    @media (max-width: 330px) {
      font-size: 54px;
    }
  }

  &__second {
    margin-top: 12px;
    @media (max-width: 330px) {
      font-size: 54px;
    }
  }

  &__third {
    margin-top: 12px;
    color: transparent;
    -webkit-text-stroke: 3px $textColorWhite;
    @media (max-width: 330px) {
      font-size: 54px;
    }
  }
}
