.video-about {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 96px;
    padding-bottom: 181px;
  &__text {
    @include mixins.textStyle(64px, 72px, 700, $textColorWhite);
  }
  &__show-video {
    @include mixins.textStyle(22px, 26px, 500, $textColorWhite);
    margin-top: 51px;
    display: flex;
    align-items: center;
    &::before {
      content: url("../../../public/images/icons/countries/video-play.svg");
      margin-right: 12px;
    }
  }
  &__container {
    @include mixins.flex(row, space-between, flex-start, wrap);
  }
  &__video {
    border-radius: 16px;
  }
}
.text {
  &__first {
    color: $accentColor;
  }

  &__second {
    margin-top: 12px;
  }

  &__third {
    margin-top: 12px;
    color: transparent;
    -webkit-text-stroke: 3px $textColorWhite;
  }
}
