.continent-section {
  padding-top: 150px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  transition-duration: 1s;
}
.continent-content__wrapper {
  @include mixins.flex(row, space-between, center, nowrap);
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
}
.continent-text {
  @include mixins.flex(column, flex-start, flex-start, nowrap);
  max-width: 335px;
  margin-left: 152px;
  @media (max-width: 825px) {
    margin-left: 0px;
  }
}
.continent-slider {
  font-weight: 600;
  font-size: 72px;
  line-height: 104px;
  background: linear-gradient(
    180deg,
    rgba(214, 214, 214, 0.12) 0%,
    rgba(255, 255, 255, 0) 150.21%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: 0.6s;
  &:hover {
    transform: scale(1.1);
  }
  @media (max-width: 1200px) {
    font-size: 60px;
  }
  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 600px) {
    font-size: 40px;
  }
}
.continent-name {
  @include mixins.textStyle(75px, 104px, 600, $textColorWhite);
  margin-bottom: 10px;
  @media (max-width: 1200px) {
    font-size: 60px;
  }
  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 600px) {
    font-size: 40px;
  }
}
.continent-description {
  @include mixins.textStyle(14px, 24px, 600, $textColorWhite);
  margin-bottom: 30px;
}
.tours-review {
  @include mixins.flex(row, center, center, wrap);
  gap: 20px;
}
