.form-section {
  background: url("../../../public/images/login_page/loginBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
  color: $textColorWhite;
  padding-top: 80px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__wrapper {
  box-sizing: border-box;
  padding: 50px 60px;
  max-width: 650px;
  @include mixins.marginCenter;
  background: rgba(85, 54, 54, 0.11);
  box-shadow: 1px 1px 15px rgba(61, 61, 61, 0.61);
  border-radius: 20px;
  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    padding: 40px 50px;
  }
  @media (max-width: 600px) {
    padding: 10px;
  }
}
.form__validation {
  margin-top: 15px;
  @include mixins.textStyle(20px, 20px, 500, #ff0000);
  @media (max-width: 768px) {
    font-size: 18px;
  }
  @media (max-width: 600px) {
    font-size: 16px;
  }
}
.form-title {
  @include mixins.textStyle(24px, 20px, 500, inherit);
  &::after {
    content: "";
    display: block;
    margin-top: 15px;
    width: 100px;
    border: 1px solid $accentColor;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    font-size: 22px;
  }
  @media (max-width: 600px) {
    font-size: 20px;
  }
}
.form-description {
  @include mixins.textStyle(13px, 20px, 500, #bfbfbf);
  @media (max-width: 600px) {
    display: none;
  }
}
.form {
  @include mixins.flex(column, flex-start, flex-start, nowrap);
}
.form-input {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-top: 11px;
  padding-bottom: 8px;
  font-size: 25px;
  border-bottom: 1px solid $textColorWhite;
  color: $textColorWhite;
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
  &:focus {
    color: $textColorWhite;
  }
  &::before {
    display: inline-block;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid $textColorWhite;
  }
}
.form-label {
  position: relative;
  padding: 30px;
  width: 100%;
  @include mixins.textStyle(12px, 14px, 500, $textColorWhite);
  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 12px;
    padding: 25px;
  }
  @media (max-width: 600px) {
    padding: 20px;
    font-size: 10px;
  }
}
.form-icon {
  position: absolute;
  left: 0;
  top: 45%;
  width: 20px;
  height: 20px;
  @media (max-width: 993px) {
    width: 15px;
    height: 15px;
    top: 50%;
  }
}
.toggle--pass {
  cursor: pointer;
  left: 90%;
  transition: 0.6s;
}
.forgot__wrapper {
  width: 100%;
  @include mixins.flex(row, space-between, center, nowrap);
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 600px) {
    font-size: 12px;
  }
}
.toggle-btn {
  position: absolute;
  top: -9999px;
}
.sign--label {
  display: block;
  padding-left: 0;
  cursor: pointer;
}
.sign--label.active {
  &::before {
    content: "";
    width: 40px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-position: right;
    background-color: #66cc66;
  }
}
.sign--label::before {
  content: "";
  width: 40px;
  height: 20px;
  background-image: url("../../../public/images/login_page/keepSign.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #737373;
  border-radius: 16px;
  transition: 0.6s;
}
.forgot--link {
  @include mixins.textStyle(13px, 16px, 500, $accentColor);
  transition: 0.4s;
  &:hover {
    color: darken($accentColor, 40%);
  }
}
.btn__wrapper {
  margin-top: 20px;
  @include mixins.flex(column, center, center, nowrap);
  @include mixins.marginCenter;
  gap: 20px;
}
.form-btn {
  @include mixins.textStyle(16px, 20px, 500, #1e1e1e);
  border-radius: 12px;
  transition: 0.5s;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (max-width: 600px) {
    font-size: 12px;
    line-height: 15px;
  }
}
.submit--btn {
  background: $accentColor;
  padding: 8px 100px;
  &:hover {
    background: darken($accentColor, 50%);
    color: $textColorWhite;
  }
  @media (max-width: 768px) {
    padding: 8px 50px;
  }
  @media (max-width: 600px) {
    padding: 8px 30px;
  }
}
.google--sign {
  background-color: #fefefe;
  padding: 8px 32px;
  &:hover {
    background-color: darken(#fefefe, 50%);
    color: $textColorWhite;
  }
  @media (max-width: 768px) {
    padding: 8px 25px;
  }
  @media (max-width: 600px) {
    padding: 8px 15px;
  }
}
.google--sign::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
  background-image: url("../../../public/images/login_page/gmailSvg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  @media (max-width: 600px) {
    display: none;
  }
}
.form-create {
  margin-top: 50px;
  text-align: center;
  @include mixins.textStyle(15px, 20px, 500, #fefefe);
  @media (max-width: 768px) {
    margin-top: 40px;
    font-size: 13px;
    line-height: 18px;
  }
  @media (max-width: 600px) {
    margin-top: 30px;
    font-size: 11px;
    line-height: 14px;
  }
}
.create--link {
  margin-left: 10px;
  margin-top: 10px;
  color: #4686e4;
  font-size: 15px;
  &:hover {
    color: darken(#4686e4, 20%);
  }
  @media (max-width: 768px) {
    font-size: 13px;
  }
  @media (max-width: 600px) {
    font-size: 11px;
  }
}
