.title-section {
  background: url("../../../public/images/title_page/main-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100vh;
  width: 100%;
  padding-top: 150px;
}
.title-wrapper {
  @include mixins.flex(column, center, flex-end, wrap);
  gap: 40px;
}
.title-slogan {
  @include mixins.textStyle(80px, 88px, 500, "#ffffff");
  text-transform: uppercase;
  letter-spacing: -0.02em;
  @include mixins.flex(column, center, flex-end, wrap);
  -webkit-text-stroke: 3px #fff;
  -webkit-text-fill-color: transparent;
}
.field--text {
  -webkit-text-fill-color: #ffffff;
}