.main-header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 10px;
  &__container {
    @include mixins.flex(row, space-between, flex-start, wrap);
  }
}
// Logo
.main-header__logo {
  @include mixins.flex(row, flex-start, center, nowrap);
  column-gap: 8px;
  cursor: pointer;
}
.main-header__logo-name {
  @include mixins.textStyle(24px, 32px, 400, $textColorWhite);
  user-select: none;
}
// Nav
.main-header__nav {
  @include mixins.flex(row, flex-start, center, nowrap);
  column-gap: 56px;
}

.main-header__nav-link {
  @include mixins.textStyle(24px, 32px, 400, $textColorWhite);
}
.main-header__nav-link--accent {
  color: $accentColor;
}

// User
.user-menu {
  @include mixins.flex(row, flex-start, center, wrap);
  column-gap: 41px;
}

.user-menu__account {
  @include mixins.flex(row, flex-start, center, nowrap);
  column-gap: 24px;
}
