.search-form {
    @include mixins.flex(row, start, center, nowrap);
    position: relative;
  }
  
  .search-form__input {
    max-width: 169px;
    height: 40px;
    border-radius: 32px;
    border: none;
    padding-left: 16px;
    &::placeholder {
      @include mixins.textStyle(14px, 18px, 400, $textColorLightGrey);
    }
  }
  
  .search-form__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $accentColor;
    @include mixins.flex(row, center, center, nowrap);
    position: absolute;
    right: 0;
  }