.status-roader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 51px;
  @include mixins.flex(column, start, center, wrap);
  row-gap: 38px;
}
.roads {
  max-width: 0;
}
.status-number {
  @include mixins.textStyle(20px, 24px, 500, $textColorDark);
  display: none;
}
.road-point {
  position: relative;
  width: 7px;
  height: 7px;
  background-color: $textColorWhite;
  border-radius: 50%;
  margin-bottom: 64px;
  @include mixins.flex(row, center, center, nowrap);
  &:last-child {
    margin-bottom: 0;
  }
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 64px;
    background-color: $textColorWhite;
    position: absolute;
    left: 3px;
    top: 7px;
  }
  &:last-child::after {
    display: none;
  }
}

.road-point--passed {
  width: 7px;
  height: 7px;
  background-color: $accentColor;
  border-radius: 50%;
  margin-bottom: 64px;
  &::after {
    background-color: $accentColor;
  }
}

.road-point--actual {
  width: 32px;
  height: 32px;
  background-color: $accentColor;
  position: relative;
  bottom: 16px;
  right: 12px;
  margin-bottom: 48px;
  &::after {
    left: 15px;
    top: 32px;
  }
  & .status-number {
    display: block;
  }
}

.status-name {
  @include mixins.textStyle(20px, 24px, 600, $textColorWhite);
width: 105px;
text-align: center;
}
